-# coding: utf-8
!!!
/[if IE 9 ] <html class="ie9">
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @title ? "#{$title} | #{@title}" : $title
    / CSS
    -#%link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "/fonts/Material-Icons/material-icons.css", :rel => "stylesheet"}/
    %link{:href => "/css/main.css?#{rand(1024)}", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}/
    :css
      body {
        background: #ddd;
      }
      a { cursor: pointer; }
      .flex-grid {
        display: flex;
        flex-flow: row wrap;
      }
      .flex-grid.vertical {
        flex-directon: column;
      }
      .flex-grid.no-wrap {
        flex-wrap: nowrap;
      }
      .col { 
        flex: 1; 
        margin: 4px;
        padding: 0 6px;
        background-color: #fff;
      }
      .col2 { 
        flex: 2; 
        margin: 4px; 
        padding: 0 6px;
        background-color: #fff;
      }
      .nowrap {
        white-space: nowrap;
        display: inline;
      }
      .rw3 {
        background-image:url("/img/rw3.svg") !important;
        transition: 1s !important;
      }
      .leaflet-control-scale-line {
        background-color: transparent;
      }
      canvas.leaflet-zoom-animated { 
        height: calc( 100% - 48px ) !important;
      }
      .svg {
        width: 100%;
        max-width: 100%;
        height: 264px;
      }
      #weather { text-align:center;}
      #weather i { font-size: 32px;}
      #weather span { font-size: 14px;}
      #weather i.wi-wind { font-size: 42px; color:#aaa;}
      li {
        list-style-type: none;
        padding: 0 12px;
      }
      .inline > * {
        display:inline;
      }
      li.large > *:not(h4) {
        font-size:24px;
      }
      li > small {
        font-size: 16px !important;
        color: #666;
      }
      table.full { width: 100%; max-width: 100%; }
      table.full tbody { width: 100%; }
      table.full tbody tr { width: 100%; }
      table.inline tbody td > * { display: inline; }
      .svgwrap {
        max-width: 100%;
        overflow-x: auto;
        overflow-y: visible;
        min-height: 280px;
        margin-bottom:12px;
      }
      #sky table tbody {
        font-weight: bold;
      }
      #sky table tr td { color: #333; }
      #sky table tr.below td { color: #999; }
      #sky table tr.high td { color: #06c; }
      #sky table tr.higher td { color: #060; }
      #sky table tr.active { background-color: #ccc; }
      #data-container b {
        color: #9e9e9e;
        font-size: 20px;
      }
      #gauge-container {
        cursor: crosshair;
      }
      #gauge * {
        pointer-events: auto;
      }
      #weather .leftie { text-align: left; font-size:24px; }
      #weather .attr { font-size:16px;color:#666; }
      #weather .huge { font-size:48px; }
      #weather .middle { font-size:20px;margin:0; }
      #weather .temp { font-size:36px; }
      #weather .midicon { font-size:18px; margin-right:4px; }
      #weather .windicon { font-size:64px !important; }
      #weather span.wind { font-size:24px; }

      .dropdown-content li > a, .dropdown-content li > span { color: #666; }
      .full { width: 100%; }
      input.select-dropdown, #period { margin-bottom: 10px !important; }
      .block {display:block;}
      .nobg { background-color: transparent; }

    %link{:rel=>"apple-touch-icon-precomposed",:href=>"/img/apple-touch-icon-152x152-precomposed.png"}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  %body
    %header
      =Haml::Engine.new(IO.read("#{Dir.pwd}/views/sidenav.haml")).render
      .navbar-fixed
        %nav.top-nav
          %a.button-collapse.top-nav.full{"data-activates" => "nav-mobile", :href => "#"}
            %i.material-icons.large menu
          .nav-wrapper
            %h5{:style=>"color:white !important"} &nbsp;

    %main{:style=>"display:none;"}
      #nmea
        %li.content.contonly.large
          .flex-grid
            #gauge-container.nobg
              #gauge
            #data-container.col.nobg
              .flex-grid
                .col
                  .nowrap
                    %b LAT:
                    %span#LAT

                .col
                  .nowrap
                    %b LON:
                    %span#LON

              .flex-grid
                .col
                  %b COG: 
                  .nowrap
                    %span#COG

                .col
                  %b SOG: 
                  .nowrap
                    %span#SOG

                .col
                  %b HDG: 
                  .nowrap
                    %span#HDG

                .col
                  %b STW: 
                  .nowrap
                    %span#STW

              .flex-grid
                .col
                  %b TWA: 
                  .nowrap
                    %span#TWA

                .col
                  %b TWS: 
                  .nowrap
                    %span#TWS

                .col
                  %b AWA: 
                  .nowrap
                    %span#AWA

                .col
                  %b AWS: 
                  .nowrap
                    %span#AWS

              .flex-grid
                .col
                  %b DPT: 
                  .nowrap
                    %span#DPT

              .flex-grid.flex-end
                .col2
                  .input-field
                    %select#reading
                      %option{:value=>"tws", :selected=>true} True Wind Speed
                      %option{:value=>"twa"} True Wind Angle
                      %option{:value=>"sog"} Speed Over Ground
                      -#%option{:value=>"stw"} Speed Through Water
                      %option{:value=>"cog"} Course Over Ground
                      %option{:value=>"hdg"} Heading
                      %option{:value=>"aws"} Apparent Wind Speed
                      %option{:value=>"awa"} Apparent Wind Angle
                      -#%option{:value=>"dpt"} Depth
                      -#%option{:value=>"rtt"} Ping time
                      -#%option{:value=>"lss"} Packet loss %
                      -#%option{:value=>"ber"} Sat bearing
                      -#%option{:value=>"alt"} Sat altitude
                    %label Reading
                .col2
                  .input-field
                    %select#reading2
                      %option{:value=>"", :selected=>true} Empty
                      %option{:value=>"tws"} True Wind Speed
                      %option{:value=>"twa"} True Wind Angle
                      %option{:value=>"sog"} Speed Over Ground
                      -#%option{:value=>"stw"} Speed Through Water
                      %option{:value=>"cog"} Course Over Ground
                      %option{:value=>"hdg"} Heading
                      %option{:value=>"aws"} Apparent Wind Speed
                      %option{:value=>"awa"} Apparent Wind Angle
                      -#%option{:value=>"dpt"} Depth
                      -#%option{:value=>"rtt"} Ping time
                      -#%option{:value=>"lss"} Packet loss %
                      -#%option{:value=>"ber"} Sat bearing
                      -#%option{:value=>"alt"} Sat altitude
                    %label Secondary
                .col
                  .input-field
                    %input#period{:type=>"number",:min=>1,:max=>336, :required=>true, :value=>3}
                    %label Period (hrs)
                .col{:style=>"background-color:#1b5e20;"}
                  .input-field
                    %a#update.white-text.large.block.center-text.full
                      %i.material-icon cached

          .flex-grid
            .col{:style=>"padding:0;"}
              .svgwrap
                #show.svg.wind
                #show2.svg.wind

      #chart
        .mapwrapper
          #map

      #sky.sky
        %li.content.contonly.large
          .flex-grid
            .col.nobg
              .flex-grid.vertical.no-wrap
                .col.nobg
                  %ha4 
                    %i.material-icons.large{:style=>"font-size:42px;"} brightness_5
                    -#%span{:style=>"vertical-align:top;"} Sun
                .col.inline
                  %b Dawn: 
                  #dawn
                .col.inline
                  %b Sunrise: 
                  #sunrise
                  %small#sunrise_az
                .col.inline
                  %b Noon: 
                  #noon
                  %small#noon_alt
                .col.inline
                  %b Sunset: 
                  #sunset
                  %small#sunset_az
                .col.inline
                  %b Dusk: 
                  #dusk

            .col.nobg
              .flex-grid.vertical.no-wrap
                .col.nobg
                  %h4 
                    %i.material-icons.large{:style=>"font-size:42px;transform: rotate(180deg);"} brightness_3
                    -#%span{:style=>"vertical-align:top;"} Moon
                .col.inline
                  %b Moonrise: 
                  #moonrise
                  %small#moonrise_az
                .col.inline
                  %b Transit: 
                  #moon
                  %small#moon_alt
                .col.inline
                  %b Moonset: 
                  #moonset
                  %small#moonset_az
                .col.inline
                  %b Phase:
                  #phase
                  = "%"
                  %small#waxing
                .col.inline
                  %b Full Moon:
                  #full_moon
                  %small#fullmoon_left
                .col.inline
                  %b New Moon:
                  #new_moon
                  %small#newmoon_left

        %li.content.contonly
          .flex-grid
            .col.s12
              %table
                %thead
                  %tr
                    %th ID
                    %th Sat Name
                    %th Lat
                    %th Lon (cat)
                    %th Altitude
                    %th Azimuth
                    %th Dist (km)
                %tbody
          .flex-grid
            .col{:style=>"padding:0;"}
              .svgwrap
                #show3.svg.wind

      #weather.weather
        .current
        .forecast

      #board
        .row
          .col.s12
            .board
        .row
          .col.s12
            .write
              %textarea.materialize-textarea{:rows=>5,:style=>"background-color:white"}
              %button.btn.black.right
                WRITE

    #modal.modal
      .modal-content

    :javascript
      var domain = "#{$domain}";
    %script{:src => "/js/main.js?#{rand(1024)}"}
    %script{:src => "/js/leaflet.graticule.js?#{rand(1024)}"}
    %script{:src => "/js/svg.min.js?#{rand(1024)}"}
    %script{:src => "/js/app.js?#{rand(1024)}", :type=>"text/javascript"}
